{% extends 'base.html' %}

{% block scripts %}

{% endblock %}

{% block content %}

<h1>Admin Dashboard</h1>
<h2>Active Projects</h2>

<a class="basic-button" href="./add-project">+ New Project</a>

<div id="active-projects">
    {% if active_projects == [] %}
    <p>No active projects</p>
    {% endif %}

    {% for project in active_projects %}
    <div class="project-card"> <!-- TODO: Make this look better -->
        <p>{{ project["name"] }}</p>
        <a class="basic-button" href="./edit-project/{{ project['id'] }}">Edit</a> <!-- TODO: Add functionality -->
        <button class="basic-button" onclick="archiveProject('{{ project['id'] }}')">Archive</button>
        <!-- TODO: Add functionally -->
    </div>
    {% endfor %}
</div>

<a class="link right-align" href="./inactive-projects">View Inactive Projects →</a>

{% endblock %}